APP_NAME = APP_NAME

# DATABASE
DB_HOST = localhost
DB_PORT = 5432
DB_USER = USER
DB_PASSWORD = PASS
DB_NAME = DB_NAME 
DB_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

# JWT
JWT_SECRET="change-me-in-production"
